 #header {
   margin-top: -20px;
   padding: 10px;
 }

 #mobil_net {
   background-color: ivory !important;
   opacity: 60%;
   width: 53%;
   padding: 5px;
 }

 #footer {
   bottom: 0;
   position: fixed;
   text-align: center;
   background-color: deepskyblue;
   width: 100%;
   font-weight:900;
 }

 .btn-warning {
   font-size: 22px;
 }

 canvas {
   margin-top: 150px;
 }
 